/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* import font */

:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

/* variables*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 20px;
    margin: 25px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--gray);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }

    .hamb {
        display: none;
    }
}

h2 {
    margin-bottom: 20px;
}

section:nth-child(even) {
    background-color: #36383F;
    color: #f9f9f9;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.info-box {
    display: flex;
    justify-content: center;
}

.info-box > .img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: 0 40px 0 0;
}

.info-box > .text {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

p {
    line-height: 2.0;
}

.flex-box {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    flex-basis: 32%;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.card > div {
    padding: 12px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card > img {
    border-radius: 5px 5px 0 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.photo {
    max-width: 25%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 768px) {
    .info-box {
        flex-direction: column;
        align-items: center;
    }
    .info-box > .img {
        max-width: 300px;
        max-height: 300px;
        margin: 0 0 20px 0;
    }
    .flex-box {
        flex-direction: column;
    }
    .info-box > .text {
        padding: 10px 0;
    }
    .photo {
        max-width: 50%;
    }
}